spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rentease
    username: ${DATABASE_USERNAME:omanilkajave}
    password: ${DATABASE_PASSWORD:}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

app:
  cloudinary:
    cloud-name: ${CLOUDINARY_CLOUD_NAME}
    api-key: ${CLOUDINARY_API_KEY}
    api-secret: ${CLOUDINARY_API_SECRET}

  google:
    client-id: ${GOOGLE_CLIENT_ID}

logging:
  level:
    com.rentease: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
